

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@CompanyTexts.IndexMessage</h2>
                <br />
            </hgroup>
            <p>
                @CompanyTexts.IndexParagraph1
@*                <a href=@CompanyTexts.IndexLink1Href title=@CompanyTexts.IndexLink1Title> @CompanyTexts.IndexLink1Title </a>
                oraz
                <a href=@CompanyTexts.IndexLink1bHref title=@CompanyTexts.IndexLink1bTitle> @CompanyTexts.IndexLink1bTitle </a>.
                @CompanyTexts.IndexParagraph2
                <a href=@CompanyTexts.IndexLink2Href title=@CompanyTexts.IndexLink2Title> @CompanyTexts.IndexLink2Title </a>.*@
            </p>
        </div>
    </section>
}
<h3>@CompanyTexts.IndexH3</h3>
<ol class="round">
    <li class="one">
        <h5>@CompanyTexts.IndexH5a</h5>
        @CompanyTexts.IndexH5aDesc
    </li>

    <li class="two">
        <h5>@CompanyTexts.IndexH5b</h5>
        @CompanyTexts.IndexH5bDesc
    </li>

    <li class="three">
        <h5>@CompanyTexts.IndexH5c</h5>
        @CompanyTexts.IndexH5cDesc
    </li>

        <li class="four">
        <h5>@CompanyTexts.IndexH5d</h5>
        @CompanyTexts.IndexH5dDesc
    </li>
</ol>
